## Fake News Classifier

Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

Loading the dataset

In [2]:
df = pd.read_csv('train.csv')
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

Understanding the dataset

In [3]:
df.shape

(20800, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [5]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [6]:
df.corr()

            id    label
id     1.00000  0.00114
label  0.00114  1.00000

In [7]:
df.nunique()

id        20800
title     19803
author     4201
text      20386
label         2
dtype: int64

In [8]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [9]:
df.duplicated().sum()

0

Preprocessing the data

In [10]:
df = df.fillna('')

In [11]:
df['news'] = df['author'] + df['title']

In [12]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
ps = PorterStemmer()

In [14]:
def stem(text):
  stemmed_text = text.lower()
  stemmed_text = re.sub('[^a-zA-Z]', ' ', stemmed_text)
  stemmed_text = stemmed_text.split()
  stemmed_text = [ps.stem(word) for word in stemmed_text if not word in stopwords.words('english')]
  stemmed_text = ' '.join(stemmed_text)
  return stemmed_text

In [15]:
df['news'] = df['news'].apply(stem)

In [16]:
print(df['news'])

0        darrel lucushous dem aid even see comey letter...
1        daniel j flynnflynn hillari clinton big woman ...
2                consortiumnew comwhi truth might get fire
3        jessica purkiss civilian kill singl us airstri...
4        howard portnoyiranian woman jail fiction unpub...
                               ...
20795    jerom hudsonrapp trump poster child white supr...
20796    benjamin hoffmann f l playoff schedul matchup ...
20797    michael j de la merc rachel abramsmaci said re...
20798    alex ansarynato russia hold parallel exercis b...
20799                        david swansonwhat keep f aliv
Name: news, Length: 20800, dtype: object

In [17]:
X = df['news'].values
y = df['label'].values

In [18]:
print(X)

['darrel lucushous dem aid even see comey letter jason chaffetz tweet'
 'daniel j flynnflynn hillari clinton big woman campu breitbart'
 'consortiumnew comwhi truth might get fire' ...
 'michael j de la merc rachel abramsmaci said receiv takeov approach hudson bay new york time'
 'alex ansarynato russia hold parallel exercis balkan'
 'david swansonwhat keep f aliv']

In [19]:
print(y)

[1 0 1 ... 0 1 1]

Transforming text to feature vectors

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
tfidf = TfidfVectorizer()
tfidf.fit(X)

TfidfVectorizer()

In [22]:
X = tfidf.transform(X)
print(X)

  (0, 26340)	0.28088379401596425
  (0, 22724)	0.2552336018069161
  (0, 15019)	0.43006226759639316
  (0, 14555)	0.29177259684200296
  (0, 12782)	0.24619727512767195
  (0, 8022)	0.23133661742488731
  (0, 6273)	0.2839932825877813
  (0, 5969)	0.35488202138141456
  (0, 5006)	0.2472595823572816
  (0, 4211)	0.3625320323150658
  (0, 578)	0.2694167078545385
  (1, 27923)	0.36911845953845024
  (1, 11313)	0.24166773097712638
  (1, 8772)	0.5258635625386451
  (1, 5916)	0.31810058109638056
  (1, 4767)	0.23338756776626793
  (1, 3859)	0.45980466668763476
  (1, 3281)	0.18652439327549428
  (1, 2622)	0.3562953366945267
  (2, 26235)	0.3665032495181434
  (2, 16361)	0.43295215406038445
  (2, 9454)	0.30743020569262086
  (2, 8567)	0.3411947414020896
  (2, 5240)	0.40440534260277944
  (2, 5121)	0.5511414848555652
  :	:
  (20797, 25776)	0.08220218573989037
  (20797, 25319)	0.3119640221826561
  (20797, 22086)	0.24902354987792552
  (20797, 20778)	0.2729578683228216
  (20797, 20493)	0.249994989010826
  (20797, 17505)	0.08090456115716123
  (20797, 16315)	0.1785200594251359
  (20797, 16217)	0.3273246827604847
  (20797, 14104)	0.22761807337911874
  (20797, 11692)	0.2992170910232368
  (20797, 6088)	0.21253094503918346
  (20797, 2257)	0.3357782642976524
  (20797, 1249)	0.3072223353708335
  (20797, 72)	0.38829670969848273
  (20798, 21937)	0.2284042880065583
  (20798, 18760)	0.43981843518920394
  (20798, 11434)	0.3219420705942853
  (20798, 8095)	0.40266358130888547
  (20798, 1921)	0.43981843518920394
  (20798, 1081)	0.4638903157542853
  (20798, 697)	0.2827933658592677
  (20799, 25148)	0.6713314187498636
  (20799, 13329)	0.4138037375613909
  (20799, 6018)	0.345590335823275
  (20799, 732)	0.5085743925573473

Splitting the dataset into training and test sets

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 30)

In [30]:
print(X_train)

  (0, 23357)	0.39992631028411935
  (0, 20871)	0.29027243962615684
  (0, 20174)	0.33171410236161913
  (0, 18911)	0.26581742145445236
  (0, 16315)	0.2154886360466791
  (0, 14404)	0.4687065903057726
  (0, 12230)	0.32243377668965556
  (0, 9165)	0.28342164160915706
  (0, 3520)	0.32337668052604773
  (0, 3281)	0.14185430916820835
  (1, 26077)	0.207471237546011
  (1, 25720)	0.18303373905191214
  (1, 25600)	0.1785380069014686
  (1, 25596)	0.1704401916767383
  (1, 19815)	0.23961724328737624
  (1, 19152)	0.1949365206914168
  (1, 18155)	0.16429401909894692
  (1, 14356)	0.16711499520231168
  (1, 12980)	0.13569311492323796
  (1, 12564)	0.1760493572669373
  (1, 10220)	0.29315345848847846
  (1, 10185)	0.1931483492024067
  (1, 10181)	0.17959744016662496
  (1, 9670)	0.1579434161427702
  (1, 8866)	0.19635506403265227
  :	:
  (16635, 4874)	0.49006666977001817
  (16635, 2664)	0.373290228907045
  (16635, 1972)	0.373290228907045
  (16636, 27608)	1.0
  (16637, 26353)	0.3817762653342638
  (16637, 26207)	0.16491604137735344
  (16637, 21153)	0.49062774404716725
  (16637, 6903)	0.25995972621603514
  (16637, 4789)	0.45418039652072834
  (16637, 1762)	0.5589947293642316
  (16638, 27552)	0.29206574735078056
  (16638, 27281)	0.41423104996411103
  (16638, 22770)	0.37038255157093747
  (16638, 16395)	0.33656607230306795
  (16638, 15379)	0.2889460092740074
  (16638, 7110)	0.4267008161990154
  (16638, 5307)	0.37038255157093747
  (16638, 5056)	0.29983939635723206
  (16639, 24411)	0.2435984257390806
  (16639, 22191)	0.36583976199203017
  (16639, 19412)	0.267492400187005
  (16639, 17743)	0.5151276662981614
  (16639, 12980)	0.23843920513011102
  (16639, 3859)	0.38432097477316063
  (16639, 2705)	0.5151276662981614

In [31]:
print(y_train)

[0 1 1 ... 1 1 0]

Training and evaluating the models

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [36]:
lr = LogisticRegression()
svm = SVC()

In [37]:
models = [lr, svm]
scores = []

for model in models:
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  scores.append(accuracy_score(y_test, y_pred))
  print("Accuracy of " + type(model).__name__ + " is", accuracy_score(y_test, y_pred))

Accuracy of LogisticRegression is 0.9516826923076923
Accuracy of SVC is 0.9596153846153846

Fake News Classifier

In [39]:
news = X_test[0]
prediction = svm.predict(news)
print("The news is real." if prediction[0] == 0 else "The news is fake.")

The news is real.